.index{
  height:100vh;
  width:100%;
  background-color: #ebebeb;
  .advertisement{ 
    display: flex;
    position: absolute;
    font-size:50px;
    color: rgb(0, 0, 0);
    width: 100%;
    background-color: rgb(248, 145, 61);
    height:20%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .message{
    display: flex;
    position: absolute;
    top:18%;
    left:50%;
    transform: translateX(-50%);   
    font-size:50px;
    color: rgb(0, 0, 0);
    width: 97%;
    background-color: #ffffff;
    height:75%;
    margin:0 auto;
    border-radius: 2%;
    box-shadow:0px 0px 5px rgba(0, 0, 0,0.2);
    .position{
      display: flex;
      position: absolute;
      left:50%;
      transform: translateX(-50%);   
      top:10%;
      width:90%;
      height:10%;
      border-radius: 40px;
      .picker{
        display: flex;
        position: absolute;
        top:49.5%;
        transform: translateY(-50%);
        left:3%;
        font-size: 45px;
        font-weight: 500;
      }
      .arrow-up{
        display: flex;
        position: absolute;
        top:51%;
        transform: translateY(-50%);
        left:17%;
        font-size: 40px;
        font-weight: 350;
        color: rgba(0, 0, 0,1);
        transition: 0.25s linear;
        transform-origin: 50% 50%;
      }
      .arrow-down{
        transform: translateY(-50%) rotate(180deg);
      }
      .input{
        display: flex;
        position: absolute;
        height:80%;
        top:50%;
        transform: translateY(-50%);
        left:27%;
        width:65%;
        Input{
          position: absolute;
          top:50%;
          font-size: 40px;
          font-weight: 400;
          transform: translateY(-50%);
          padding:10px 30px;
          border-left:rgba(0, 0, 0, 0.2) 2px solid;
        }
      }
      .icon{
        font-size: 60px;
        position: absolute;
        right:3%;
        top:50%;
        transform: translateY(-50%);
        color: #005EDA;
      }
    }
    .search{
      position: absolute;
      display: flex;
      height: 9%;
      width: 90%;
      bottom: 4%;
      left:50%;
      transform: translateX(-50%);   
      background-color: #0068F7;
      align-items: center;
      justify-content: center; 
      border-radius: 20px 20px 40px 20px;
      box-shadow:1px 1px 5px rgba(0, 0, 0, 0.5);
      Text{
        letter-spacing: 20px;
        color: #ffffff;
        font-size: 40px;
        font-weight: 500;
        padding-left: 10px;
      }
    }
  }
}