.user-content-myhotel-move {
  transform: translate(0, -120%);
}
.user-content-addhotel {
  width: 95%;
  height: 90%;
  position: absolute;
  left: 2.5%;
  top: 7%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  transition: all 0.5s ease-in-out;

  .user-content-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #EEF5FF;
    position: absolute;
    left: 15.5%;
    top: 2%;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);

    .user-content-line {
      width: 10px;
      height: 100px;
      background: #000;
      position: absolute;
      left: 50%;
      border-radius: 5px;
      bottom: 50%;
      transform: translate(-50%, 2%);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.6);
    }
  }

  .circle1 {
    left: 23.5%;
    top: 2%;
  }
  .user-content {
    width: 95%;
    height: 88%;
    position: absolute;
    left: 2.5%;
    top: 7.5%;
    background: #efefef;
    border-radius: 20px;
  }
}
